body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #023e8a;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

section {
    width: 75%;
}

ul {
    list-style: none;
    padding: 0;
}
